* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  width: 100%;
  height: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*_________________________*/

.app{
  background-color: #E5E8F6;
  font-size: 16px;
  line-height: 13px;
}

.app__wrapper{
  min-height: 100vh;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

.content__load{
  min-height: 100vh;
  background-color: #FFF;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}

@media all and (min-width: 720px) {
  .app__wrapper{
    /*margin: 0 7%;*/
  }
  .content__load{
    margin: 0 7%;
    min-height: 86vh;
  }

}


